@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~stream-chat-react/dist/css/v2/index.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======== stream css overrides ======== */
.str-chat {
  --str-chat__primary-color: #7BC9FF;
  --str-chat__primary-overlay-color: #7BC9FF;
  --str-chat__text-low-emphasis-color: #e5e7eb;
  --str-chat__background-color: #1c1f2e;
  --str-chat__secondary-background-color: #1c1f2e;
  --str-chat__on-primary-color: #000;
  --str-chat__primary-surface-color: #C9DDFF;
  --str-chat__primary-surface-color-low-emphasis: #ECF0FF;
  --str-chat__surface-color: #F5FCFF;
  --str-chat__secondary-surface-color: #F5FCFF;
  --str-chat__message-highlight-color: #A3FFD6;
  --str-chat__message-textarea-color: #F5FCFF;
  --str-chat__message-actions-box-background-color: #F5FCFF;
  --str-chat__message-actions-box-item-hover-background-color: #7BC9FF;
  --str-chat__thread-header-color: #F5FCFF;
  --str-chat__tooltip-color: #F5FCFF;
}

.str-chat__unread-messages-separator {
  background-color: #252A41;
}

.str-video__search-input__container {
  background-color: #252A41 !important;
}

.str-chat__message-input {
  margin-bottom: 6px;
}

.str-chat__close-thread-button > svg > path {
  fill: #F5FCFF !important;
}

.str-video__call-stats {
  max-width: 500px;
  position: relative;
}

.str-video__speaker-layout__wrapper {
  max-height: 700px;
}

.str-video__participant-details {
  color: white;
}

.str-video__menu-container {
  color: white;
}

.str-video__notification {
  color: white;
}

.str-video__participant-list {
  background-color: #1c1f2e;
  padding: 10px;
  color: white;
  height: 100%;
}

.str-video__call-controls__button {
  height: 40px;
}

.str-video__call-controls {
  flex-wrap: wrap;
}

.str-video__speaker-layout__wrapper {
  max-height: 100%;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

/* ==== clerk class override ===== */

.cl-providerIcon__github {
  filter: invert(1);
}

.cl-userButtonPopoverActionButtonIcon {
  color: white;
}

.cl-logoBox {
  height: 40px;
}
.cl-dividerLine {
  background: #252a41;
  height: 2px;
}

.cl-socialButtonsIconButton {
  border: 3px solid #565761;
}

.cl-internal-wkkub3 {
  color: white;
}
.cl-userButtonPopoverActionButton {
  color: white;
}

/* =============================== */

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

/* animation */
